<div class="inicio">
  <div class="nav">
    <h1>ereselcambio </h1>
    <a href="#ranking" class="menu">Ranking</a>
    <a href="#" class="menu">Acerca de</a>
  </div>
  <div class="form">
    <h2>¿Cónoces dónde vives?</h2>
    <input id="city-to-search" type="text" placeholder="Ej. Monterrey">
    <input id="search-city" type="submit" value="Buscar">
    <p> ¿Cónoces el lugar dónde vives? <span>Ayuda a mejorar tu ciudad.</span></p>
  </div>
  <div class="vote">
    <p>¿Estas contento en dónde vives?
      <br>
      <a href="#" data-value="true" class="happy welfare">
        <img src="img/happy.png">
      </a>
      <a href="#" data-value="false" class="sad welfare"> <img src="img/sad.png"></a>
    </p>
  </div>
</div>
<div id="content" class="content">
  <div class="nav-place">
    <h3 id="city-name">Monterrey</h3>
    <p>Conoce la situación del lugar dónde vives y ayuda a cambiar tu ciudad en un mejor lugar.</p>
  </div>
  <div class="info-content">
    <div class="block-info left">
      <div class="seguridad">
        <div class="container">
          <div class="stat">
            <span class="cat-tag">Categoria</span>
            <h3 class="cat-name">Seguridad</h3>
            <p class="cat-desc"> ¿Deportes extremos? nadie sabe de eso si ninguno ha caminado por tu calle a las 10 de la noche.Tú que lo sabes, Hoy tienes la oportunidades de reportar.</p>
            <div class="chart">
              <pre data-thickness=".4" data-fgColor="chartreuse" data-readOnly></pre>
              <input id="seguridad" data-fgColor="chartreuse" data-thickness=".4" data-readOnly value="17" class="knob">
            </div>
          </div>
          <div class="call-to">
            <span class="tooltip">Descubre como puedes cambiar esto.</span>
            <a href="#proposal-form" class="help">Quiero ayudar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="block-info right">
      <div class="comunidad">
        <div class="container">
          <div class="call-to">
            <span class="tooltip">Conoce como puedes participar</span>
            <a href="#proposal-form" class="help">Quiero participar.</a>
          </div>
          <div class="stat">
            <span class="cat-tag">Categoria</span>
            <h3 class="cat-name">Comunidad</h3>
            <p class="cat-desc"> Imagina al mundo que ya conoces pero con un poco más de ti. De tu participación, de tu iniciativa y de tu colaboración para mejorar el entorno que te rodea.</p>
            <div class="chart">
              <pre data-thickness=".4" data-fgColor="tomato" data-readOnly></pre>
              <input id="comunidad" data-bgColor="#da2a0d" data-fgColor="#ede621" data-Color="ede621" data-thickness=".4" data-readOnly value="17" class="knob">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-info left">
      <div class="bienestar">
        <div class="container">
          <div class="stat">
            <span class="cat-tag">Categoria</span>
            <h3 class="cat-name">Bienestar</h3>
            <p class="cat-desc"> Todos podemos cambiar el mundo con algo tan sencillo como comenzarel día con con la actitúd correcta. </p>
            <div class="chart">
              <pre data-thickness=".4" data-fgColor="chartreuse" data-readOnly></pre>
              <input id="bienestar" data-bgColor="#1c422e" data-fgColor="#c1fcde" data-Color="c1fcde" data-thickness=".4" data-readOnly value="75" class="knob">
            </div>
          </div>
          <div class="call-to">
            <span class="tooltip">Conoce como puedes seguir siendo feliz.</span>
            <a href="#proposal-form" class="help">Quiero ayudar   </a>
          </div>
        </div>
      </div>
    </div>
    <div class="block-info right">
      <div class="servicios">
        <div class="container">
          <div class="call-to">
            <span class="tooltip">Ayuda con soluciones perfectas para un mundo imperfecto</span>
            <a href="#proposal-form" class="help">Quiero ayudar</a>
          </div>
          <div class="stat">
            <span class="cat-tag">Categoria</span>
            <h3 class="cat-name">Servicios Públicos</h3>
            <p class="cat-desc"> ¿El alumbrado de tu cuadra no ilumina como quisieras? ¡Haz que brille como el sol! Reporta ahora.</p>
            <div class="chart">
              <pre data-thickness=".4" data-fgColor="chartreuse" data-readOnly></pre>
              <input id="servicios_publicos" data-bgColor="#07101d" data-fgColor="#5db0e5" data-Color="5db0e5" data-thickness=".4" data-readOnly value="8" class="knob">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="block-info left">
      <div class="propuestas">
        <div class="container">
          <div class="stat">
            <span class="cat-tag">Categoria</span>
            <h3 class="cat-name">Propuestas Ciudadanas</h3>
            <p class="cat-desc"> Tú ciudadano puedes cambiar el entorno en dónde vives.<br><br>Eres parte de la generación que puede cambiar las cosas, eres diferente.<br><br><span>Este es el momento.</span></p>
            <div class="chart">
              <pre data-thickness=".4" data-fgColor="chartreuse" data-readOnly></pre>
              <input id="propuestas_ciudadanas" data-bgColor="#3b0708" data-fgColor="#a8b916" data-Color="eaff36" data-thickness=".4" data-readOnly value="18" class="knob">
            </div>
          </div>
          <div class="call-to">
            <span class="tooltip">Conoce como puedes ayudar</span>
            <a href="#proposal-form" class="help">Quiero ayudar</a>
          </div>
        </div>
      </div>
    </div>
    <div class="block-info">
      <div id="ranking" class="ranking">
        <div class="container">
          <h3>Ranking de Municipios</h3>
          <ol class="rank">
            <li class="country">
              <h4 class="name">Monterrey</h4>
              <a href="#proposal-form" class="stat-icon actua help">Ayuda a tu ciudad</a>
              <span class="stat-icon sec">70%</span>
              <span class="stat-icon com">45%</span>
              <span class="stat-icon bien">13%</span>
              <span class="stat-icon ser">20%</span>
              <span class="stat-icon prop">95%</span>
            </li>
            <li class="country">
              <h4 class="name">Monterrey</h4>
              <a href="#proposal-form" class="stat-icon actua help">Ayuda a tu ciudad</a>
              <span class="stat-icon sec">70%</span>
              <span class="stat-icon com">45%</span>
              <span class="stat-icon bien">13%</span>
              <span class="stat-icon ser">20%</span>
              <span class="stat-icon prop">95%</span>
            </li>
            <li class="country">
              <h4 class="name">Monterrey</h4>
              <a href="#proposal-form" class="stat-icon actua help">Ayuda a tu ciudad</a>
              <span class="stat-icon sec">70%</span>
              <span class="stat-icon com">45%</span>
              <span class="stat-icon bien">13%</span>
              <span class="stat-icon ser">20%</span>
              <span class="stat-icon prop">95%</span>
            </li>
            <li class="country">
              <h4 class="name">Monterrey</h4>
              <a href="#proposal-form" class="stat-icon actua help">Ayuda a tu ciudad</a>
              <span class="stat-icon sec">70%</span>
              <span class="stat-icon com">45%</span>
              <span class="stat-icon bien">13%</span>
              <span class="stat-icon ser">20%</span>
              <span class="stat-icon prop">95%</span>
            </li>
            <li class="country">
              <h4 class="name">Monterrey</h4>
              <a href="#proposal-form" class="stat-icon actua help">Ayuda a tu ciudad</a>
              <span class="stat-icon sec">70%</span>
              <span class="stat-icon com">45%</span>
              <span class="stat-icon bien">13%</span>
              <span class="stat-icon ser">20%</span>
              <span class="stat-icon prop">95%</span>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div id="proposal-form" style="display:none">
      <div class="header">
        <h3>Generar Reporte</h3>
        <p> Puedes ayudar a tu ciudad generando un reporte de algún problemaque encuentres o generando una iniciativa.</p>
      </div>
      <span class="sep">Haz un reporte</span>
      <form>
        <div>
          <label>¿Cuál es el problema?</label>
          <input type="text" placeholder="Ej. No sirve el alumbrado">
        </div>
        <div>
          <label>¿Dónde es el problema?</label>
          <input type="text" placeholder="Ej. Colonia Altavista"></div>
          <input type="submit" value="Reportar">
        </form>
        <span class="sep">Ó</span>
        <form>
          <div>
            <label> </label>
            <textarea placeholder="Ej. Generar eventos de conviviencia"></textarea>
          </div>
          <input type="submit" value="Proponer">
        </form>
      </div>
      <div class="social">
        <img src="img/shout.png">
        <p>Que no se quede en sólo ideas y quejas.Comparte y pasa la voz.</p>
        <a href="https://twitter.com/share" data-lang="es" data-size="large" data-hashtags="ereselcambio" class="twitter-share-button">Twittear</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        <div data-send="true" data-layout="box_count" data-width="450" data-show-faces="true" class="fb-like"></div>
      </div>
    </div>
  </div>
  <div style="display:none" class="block-info empty-results">
    <div class="alternate-content">
      <div class="container">
        <h2>Perdón aún no tenemos tu ciudad, te invitamos a visitar la página del <a href="http://www.cic.mx">CIC</a></h2>
      </div>
    </div>
  </div>
</div>

