body {
  margin: 0px;
  padding-top: 0px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background: #ebebeb;
}

a {
  text-decoration: none;
}

input[type='submit'] {
  cursor: pointer;
}


.inicio {
  height: 700px;
  text-align: center;
  background: url(/assets/bg-inicio.png)  #74c476;
}

.nav {
  width: 80%;
  margin: 0 auto;
  text-align:left;
}

.nav h1 {
  display: inline-block;
}
.nav a {
  float: right;
  display: inline-block;
  margin: 30px 5px;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  background: rgba(0,0,0,0.5);
  border-radius: 3px;
  box-shadow: 0px -1px 0px rgba(255,255,255,.6) inset;
}

.form {
  padding-top: 50px;
}

.form h2 {
  color: #fff;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
  font-size: 2.5em;
}

.form input[type="text"] {
  width: 400px;
  font-size: 1.5em;
  padding: 40px;
  border-radius:  3px;
  border:none;
  box-shadow: 0px -1px 0px rgba(0,0,0,.6) inset;
  display: block;
  margin: 0 auto;
}

.form input[type="submit"] {
  background: rgba(0,0,0,0.8);
  color: #fff;
  padding: 20px 40px;
  border-radius: 3px;
  border: none;
  font-size: 1.1em;
  margin-top: 10px;
}


.form p {
  width: 400px;
  margin: 0 auto;
  padding-top: 50px;
  font-size: 1.4em;
  font-weight: bold;
  color: #000;
}

.form p span {
  display: inline-block;
  font-weight: normal;
  color: #fff;
  padding-bottom: 10px;
}

.vote {
  width: 600px;
  padding: 10px;
  background: #fff;
  display: block;
  margin: 0 auto;
  position: relative;
  border-radius:3px 3px 0px 0px;
  text-align: center;

}

.vote p {
  display: block;
  color: #353535;
}

.vote img {
  padding: 10px;
}

.vote img:hover {
  background: rgba(0,0,0,.1);
  border-radius: 5px;
}

.info-content {
  position: relative;
  top: -122px;
}

.nav-place {
  background: rgba(0,0,0,.4);
  color: #fff;
  width: 80%;
  position: relative;
  left: 0px;
}

.nav-place h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  padding-left: 20px;
  display: inline-block;
}

.nav-place h3:before {
  display:inline-block;
  content:url(/assets/place.png);
  width: 50px;
  height: 50px;
  position: relative;
  top:10px;
  left: -5px;

}

.nav-place {
  z-index:100;
  position:relative;
}

.nav-place.stuck{
  position:fixed;
  top:0;  
}

.nav-place p {
  display: inline-block;
  width: 40%;
  padding-left: 20px;
}

.block-info.left {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 200px 0px;
}

.block-info.left .stat {
  width: 60%;
  display: inline-block;
}

.block-info.left .stat .cat-tag {
  background: rgba(0,0,0,0.5);
  padding:10px;
  margin-left: 10px;
  border-radius: 3px;
}

.block-info.left .stat .cat-name {
  font-size: 3em;
  margin: 5px;
  text-transform: uppercase;
}

.block-info.left .stat .cat-desc {
  width: 80%;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
  font-size: 1.3em;
  padding-left: 10px;
}

.block-info.left .call-to {
display: inline-block;
padding-top: 100px;
text-align: center;
float: right;
}

.block-info.left .call-to .tooltip {
  background: rgba(0,0,0,0.8);
  padding: 20px;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 200px;
}

.block-info.left .call-to .tooltip:after {
  content:'';
  background: rgba(0,0,0,0.8);
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  bottom:-5px;
  left: 45%;
   -webkit-transform: rotate(45deg);
}

.block-info.left .call-to a {
  background: #fff;
  border-radius:3px;
  padding: 20px;
  display: block;
  width: 200px;
  margin: 0 auto;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin-top: 20px;
}

.block-info.right .stat {
  width: 60%;
  display: inline-block;
  padding-left: 100px;
}

.block-info.right .stat .cat-tag {
  background: rgba(0,0,0,0.5);
  padding:10px;
  margin-left: 10px;
  border-radius: 3px;
}

.block-info.right .stat .cat-name {
  font-size: 3em;
  margin: 5px;
  text-transform: uppercase;
}

.block-info.right .cat-desc {
  width: 80%;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
  font-size: 1.3em;
  padding-left: 10px;
}

.block-info.right .call-to {
display: inline-block;
padding-top: 100px;
text-align: center;
float: left;
}

.block-info.right .call-to .tooltip {
  background: rgba(0,0,0,0.8);
  padding: 20px;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 200px;
}

.propuestas span  {
  text-decoration: underline;
}
.block-info.right .call-to .tooltip:after {
  content:'';
  background: rgba(0,0,0,0.8);
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  bottom:-5px;
  left: 45%;
   -webkit-transform: rotate(45deg);
}

.block-info.right .call-to a {
  background: #fff;
  border-radius:3px;
  padding: 20px;
  display: block;
  width: 200px;
  margin: 0 auto;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin-top: 20px;
}

.seguridad {
  background:url(/assets/seguridad.png)  #00aeef;
  background-position: -20px;
}

.comunidad {
  background: url(/assets/comunidad.png) top left no-repeat #f26522;
  background-size:auto 100%;
}

.bienestar {
  background: url(/assets/bienestar.png) top right no-repeat #3ab174;
}

.servicios {
  background: url(/assets/servicios.png) top right no-repeat #1b2430;
}

.propuestas {
  background: url(/assets/propuestas.png) top left no-repeat #d1191e;
  background-size:auto 100%;
}

.tooltip {
  animation: bounce 2s infinite;
  -moz-animation: bounce 2s infinite; /* Firefox */
  -webkit-animation: bounce 2s infinite; /* Safari and Chrome */
  -o-animation: bounche 2s infinite; /* Opera */
}

@-webkit-keyframes bounce
{
  0%   {top:0px;}
  50% {top:10px;}
  100% {top:0px;}

}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

#proposal-form {
  width: 50%;
  background: #fff;
  border-radius:5px;
  color: #000;
}

#proposal-form .header {
  width: 100%;
  background: #74c476;
  margin: 0px;
  position: relative;
  border-radius: 5px 5px 0px 0px;
}

#proposal-form .header h3 {
  color: #1d491d;
  margin: 0px;
  padding-top: 20px;
  text-align: center;
  text-shadow:0px 1px 0px rgba(255,255,255,0.3);
}

#proposal-form .header p {
  color: #fff;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
  width: 600px;
  margin: 0 auto;
  padding: 20px 0px;
}

#proposal-form .sep {
  color: #9d9d9d;
  text-align: center;
  display: block;
  padding: 10px 0px;
} 

#proposal-form form {
  color: #5e7977;
  text-align: center;
  padding-bottom: 20px;
}

#proposal-form div {
  padding-bottom: 15px;
}

#proposal-form form label {
  display: block;
}

#proposal-form form input[type="text"] {
  padding: 10px;
  width: 300px;
  text-align: center;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #dfd2cc;
  background:#f1eee4; 
  color: #e07e53;
}

#proposal-form form textarea {
  padding: 10px;
  width: 300px;
  text-align: center;
  font-size: 1.2em;
  border-radius: 3px;
  resize:none;
  border: 1px solid #dfd2cc;
  background:#f1eee4;
  color: #e07e53;
}

#proposal-form input[type="submit"] {
  border-radius:3px;
  width: 150px;
  border:none;
  padding:10px !important;
  background:#0076a3;
  color: #fff; 
  font-size: 1.1em;
}

.ranking {
  background: url(/assets/bg-inicio.png) #74c476 repeat-x;
}

.rank {
  margin: 0px;
  list-style: decimal;
}

.rank li {
  width: 100%;
  background: rgba(0,0,0,.3);
  padding: 5px;
  margin-top: 5px;
  display: inline-block;
  border-radius: 3px;
}
.rank li h4{
  display: inline-block;
  margin: 0px;
  padding-top: 35px;
  font-size: 1.3em;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
}

.rank li .stat-icon {
  padding: 50px 20px 20px 20px;
  display: inline-block;
  float: right;
  border-radius:3px;
  margin-left: 5px;
}

.rank li .stat-icon.actua {
  background: rgba(0,0,0,.5);
  color: #fff;
  padding: 10px;
  width: 80px;
  text-align: center;
  margin-top: 15px;
}

.rank li .stat-icon.sec {
  background: url(/assets/sec.png) no-repeat center top #00aeef;
}

.rank li .stat-icon.com {
  background: url(/assets/com.png) no-repeat center top #f26522;
}

.rank li .stat-icon.bien {
  background: url(/assets/bien.png) no-repeat center top #3ab174;
}

.rank li .stat-icon.ser {
  background: url(/assets/ser.png) no-repeat center top #1b2430;
}

.rank li .stat-icon.prop {
  background: url(/assets/prop.png) no-repeat center top #d1191e;
}

.social {
  width: 960px;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 50px;
}

.social img {
  display: inline-block;
}

.social p {
  color: #4766ad;
  position: relative;
  top:-50px;
  width: 400px;
  font-size: 1.3em;
  display: inline-block;
  padding-left: 24px;
}

.social .twitter-share-button {
  position: relative;
  top:-50px;
}

.empty-results {
  postion:relative;
  color: #d1191e;
}
